---
layout: default
redirect_from:
  - /archive/
  - /archive
  - /archive/1/
  - /archive/1
---

<h2 style="margin-left: 20px;">FAQ - Frequently Asked Questions</h2>

<section class="faq">
  <details>
    <summary>How to contact me?</summary>
    <p>
      You can contact me at: Signal (Ask my number), <a href="https://matrix.to/#/@atius:beeper.com">Matrix</a>, <a href="https://t.me/amyiscoolz">Telegram</a>, <a href="https://www.instagram.com/amyiscoolz/">Instagram</a>, Email (atiusamy@murena.io), iMessage (amy.amyiscoolz@gmail.com), Discord (@atiusamy).
    </p>
  </details>

  <details>
    <summary>Who's Amy?</summary>
    <p>
      Me! Although, if you're from YouTube or know me Pre-2023 you might recognized me by other name. Just remember that you can always call me Amy! I love the name!
    </p>
  </details>

  <details>
    <summary>Who's Atius</summary>
    <p>
      Me also, but it's my YouTube alias. idk what else to say.
    </p>
  </details>

  <details>
    <summary>Are you a boy or a girl</summary>
    <p>
      I'm a grill 🍖♨️🔥🥩🥓🍳
      In all seriousness though, I am a transgender girl. Whether you think that makes me a boy or a girl, it's up to you. I don't want to hurt your precious feelings.
    </p>
  </details>

  <details>
    <summary>Where are you from?</summary>
    <p>
      Thailand, not my favorite country. Get me outta here!
    </p>
  </details>

  <details>
    <summary>Why are you an athiest?</summary>
    <p>
      I just can't believe in religion, though I can't say I have anything against it (Aside from Theocracy which I think is different from just plain relgiion).
      I come from a religious minority here in Thailand (Catholic in a Buddhist Country), and it was brought communities together so I can't say it's entirely bad.
    </p>
  </details>

  <details>
    <summary>Why did you leave high school early?</summary>
    <p>
      I didn't like my high school. I don't like cutting my hair, I don't like being lonely. I just decided to go for it. It's not like the best excuse but that's my true feelings.
    </p>
  </details>

  <details>
    <summary>What is your major?</summary>
    <p>
      Biological Science! A lot of Biology (Especially Ecology, Zoology, Paleontology, and Botany is really fun!
    </p>
  </details>

  <details>
    <summary>What are your preferred pronouns?</summary>
    <p>
      She/her
    </p>
  </details>

  <details>
    <summary>What's your favorite Dinosaur?</summary>
    <p>
      It's a tie between Utahraptors and Crows! I think they're both super awesome! 
    </p>
  </details>

  <details>
    <summary>Your favorite group of animals?</summary>
    <p>
      Should be relatively obvious but I like all reptiles! (Including birds). 
    </p>
  </details>

  <details>
    <summary>What do you want to be in the future?</summary>
    <p>
      Either some kind of Ecologist/Zoologist, I'm not super sure yet but it's in that area.
    </p>
  </details>
  
  <details>
    <summary>What games do I play?</summary>
    <p>
      Minecraft, Genshin Impact, and Jurassic World Evolution 2 mainly!
    </p>
  </details>


  <details>
    <summary>Do you use Linux?</summary>
    <p>
      For now yeah, I am not that techy though, Windows just annoys me.
    </p>
  </details>

  <details>
    <summary>Any Social Media I can follow you on?</summary>
    <p>
      At the moment, none. I can't use X/Twitter because I have ethical concerns about it. I can't use Fediverse because I don't really fit in, but once more people move to the Fediverse, I'm glad to revive <a href="https://sauropods.win/@AmyIsCoolz">my account</a> again!
    </p>
  </details>

  <details>
    <summary>When are you gonna upload another video?</summary>
    <p>
      When I'm not busy.
    </p>
  </details>

  <details>
    <summary>Who's Dapper?</summary>
    <p>
      Deadname, rarely used anymore
    </p>
  </details>

  <details>
    <summary>Who's Nam?</summary>
    <p>
      The demon that lives in my soul. I must stop him at all cost.
    </p>
  </details>
</section>

<nav class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Newer</a>
  {% endif %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Older</a>
  {% endif %}
</nav>

