---
layout: default
redirect_from:
  - /archive/
  - /archive
  - /archive/1/
  - /archive/1
---

<h2 style="margin-left: 20px;">FAQ - Frequently Asked Questions</h2>

<section class="faq">
<h3 style="margin-left: 20px;">About Me</h3>
  <details>
    <summary>How to contact me?</summary>
    <p>
      You can contact me at: <a href="https://signal.me/#eu/rKNiLxVIo5AQWu30nFHElgXPGcbvkwOus-LdWATJOiiH-ZaBVcxPZacelAmNQk8A">Signal</a>, <a href="https://matrix.to/#/@amyiscoolz:chat.atiusamy.com">Matrix</a>, <a href="https://t.me/amyiscoolz">Telegram</a>, <a href="https://www.instagram.com/amyiscoolz/">Instagram</a>, Email (atiusamy@murena.io), iMessage (amy.amyiscoolz@gmail.com), Discord (@atiusamy).
    </p>
  </details>

  <details>
    <summary>Who's Amy?</summary>
    <p>
      Me! Although, if you're from YouTube or know me Pre-2023 you might recognized me by other name. Just remember that you can always call me Amy! I love the name!
    </p>
  </details>

  <details>
    <summary>Are you a boy or a girl?</summary>
    <p>
      I'm a grill 🍖♨️🔥🥩🥓🍳
      In all seriousness though, I am a transgender girl. Whether you think that makes me a boy or a girl, it's up to you. I don't want to hurt your precious feelings.
    </p>
  </details>

  <details>
    <summary>Where are you from?</summary>
    <p>
      Thailand, not my favorite country. Get me outta here!
    </p>
  </details>

  <details>
    <summary>Can you speak less?</summary>
    <p>
      Yes... but speaking distracts me from having my brain doubting and assaulting me with mean words :( I'm sorry I spoke too much!
    </p>
  </details>

  <details>
    <summary>Your last question doesn't add up, you seem very silent.</summary>
    <p>
      If so, I am either shy or zoning out. Just call (call as in say my name) me and I should response. If I do zone out however, please actually let me know I am not doing anything instead of keeping it to yourself and thinking I would get your cues (I wouldn't because I am zoning out like bruh).
    </p>
  </details>

  <details>
    <summary>Why are you an atheist?</summary>
    <p>
      I just can't believe in religion, though I can't say I have anything against it (Aside from Theocracy which I think is different from just plain relgiion).
      I come from a religious minority here in Thailand (Catholic in a Buddhist Country), and it was brought communities together so I can't say it's entirely bad.
    </p>
  </details>

  <details>
    <summary>Any Social Media I can follow you on?</summary>
    <p>
      I have a <a href="https://social.atiusamy.com/@AmyIsCoolz">fediverse account</a> here. It's on my own Sharkey instance (You can follow using a Mastodon account). You can also follow me bridged on Bluesky at @AmyIsCoolz.social.atiusamy.com.ap.brid.gy
    </p>
  </details>

  <details>
    <summary>Why did you leave high school early?</summary>
    <p>
      I didn't like my high school. I don't like cutting my hair, I don't like being lonely. I just decided to go for it. It's not like the best excuse but that's my true feelings.
    </p>
  </details>

  <details>
    <summary>What is your major?</summary>
    <p>
      Biological Science! A lot of Biology (Especially Ecology, Zoology, Paleontology, and Botany is really fun!
    </p>
  </details>

  <details>
    <summary>What are your preferred pronouns?</summary>
    <p>
      She/her
    </p>
  </details>

  <details>
    <summary>Have you taken HRT? if so how long?</summary>
    <p>
      Yup, since 17/11/2023
    </p>
  </details>

<h3 style="margin-left: 20px;">About my interests</h3>

  <details>
    <summary>What's your favorite Dinosaur?</summary>
    <p>
      It's a tie between Utahraptors and Crows! I think they're both super awesome! 
    </p>
  </details>

  <details>
    <summary>Your favorite group of animals?</summary>
    <p>
      Should be relatively obvious but I like all reptiles! (Including birds). 
    </p>
  </details>

  <details>
    <summary>What do you want to be in the future?</summary>
    <p>
      Either some kind of Ecologist/Zoologist, I'm not super sure yet but it's in that area.
    </p>
  </details>

  <details>
    <summary>Do you like Cooking?</summary>
    <p>
      Yes I do! I'm not very good yet but I believe I will be good soon! I really enjoy it.
    </p>
  </details>

  <details>
    <summary>Do you do arts?</summary>
    <p>
      Kinda... I enjoy drawing but I am so bad I don't really wanna talk about it.
    </p>
  </details>
  
  <details>
    <summary>What games do I play?</summary>
    <p>
      Minecraft, Genshin Impact, Paleo Pines and Jurassic World Evolution 2 mainly!
    </p>
  </details>

  <details>
    <summary>Do you use Linux?</summary>
    <p>
      For now yeah, I am not that techy though, Windows just annoys me.
    </p>
  </details>

<h3 style="margin-left: 20px;">About my YT</h3>

  <details>
    <summary>Who's Atius?</summary>
    <p>
      Me also, but it's my YouTube alias. idk what else to say.
    </p>
  </details>

  <details>
    <summary>When are you gonna upload another video?</summary>
    <p>
      When I'm not busy.
    </p>
  </details>

  <details>
    <summary>When do you Live Stream?</summary>
    <p>
      Usually Friday, 7:00-800 UTC+7. 
    </p>
  </details>

  <details>
    <summary>Is Kon Suan Tood Dead?</summary>
    <p>
      Idk, it's currently on an indefinite hiatus due to busyness but I do want to revive it at some point.
    </p>
  </details>

  <details>
    <summary>Is it possible to collab with me?</summary>
    <p>
      It is! My timezone is notoriously hard to work with though, but I am in <a href="https://discord.gg/bq5cfvPsjQ">MC Collab Station</a> and I do participate in a lot of the events that I can!
    </p>
  </details>

<h3 style="margin-left: 20px;">About my past</h3>

  <details>
    <summary>Why do you leave [insert community]?</summary>
    <p>
      I left because it wasn't enjoying it nor is it also not relevant to my goals (Long term and Short term), and I have thought about it a while. Either that or I just got bored and left. 
    </p>
  </details>

  <details>
    <summary>Who's Dapper?</summary>
    <p>
      Deadname, rarely used anymore.
    </p>
  </details>

  <details>
    <summary>Who's BLUEBB_333?</summary>
    <p>
      Ah that brings me back, that was my old internet alias. BLUE means Blue and BB means Balloon Boy! 
    </p>
  </details>

  <details>
    <summary>Who's Nam?</summary>
    <p>
      The demon that lives in my soul. I must stop him at all cost.
    </p>
  </details>
</section>

<nav class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Newer</a>
  {% endif %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Older</a>
  {% endif %}
</nav>

