---
layout: default
redirect_from:
  - /archive/
  - /archive
  - /archive/1/
  - /archive/1
---
<h2 style="margin-left: 20px;">Links - My linktree!</h2>

<section class="links">
  <h3>Socials</h3>
    <div class="gridSection">
      <div class="gridItem">
        sharkey
      </div>

      <div class="gridItem">
        pixelfed
      </div>

      <div class="gridItem">
        instagram
      </div>
    </div>
  <h3>Recommended Contacts</h3>
    <div class="gridSection">
      <div class="gridItem">
        signal
      </div>
      <div class="gridItem">
        matrix
      </div>
      <div class="gridItem">
        imessage
      </div>
    </div>
  <h3>Not-so Recommended Contacts</h3>
    <div class="gridSection">
      <div class="gridItem">
        telegram
      </div>
      <div class="gridItem">
        discord
      </div>
      <div class="gridItem">
        email
      </div>
      <div class="gridItem">
        steam
      </div>
    </div>
  <h3>My stuff</h3>
    <div class="gridSection">
      <div class="gridItem">
        mcmods
      </div>
    </div>
</section>

<nav class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">Newer</a>
    {% endif %}
  
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Older</a>
    {% endif %}
  </nav>
  