---
layout: default
redirect_from:
  - /archive/
  - /archive
  - /archive/1/
  - /archive/1
---
<h2 style="margin-left: 20px;">Links - My linktree!</h2>

<section class="links">
  <h3>Socials</h3>
    <div class="gridSection">
      <a class="gridItem" href="https://social.atiusamy.com/@AmyIsCoolz">
        <img src="{{ site.baseurl }}/images/social/sharkey.png" alt="Sharkey Icon">
        <div class="details">
          <h2>Fediverse</h2>
          <p>
            @AmyIsCoolz
          </p>
        </div>
      </a>

      <a class="gridItem" href="https://instagram.com/amyiscoolz">
        <img src="{{ site.baseurl }}/images/social/instagram.svg" alt="Instagram Icon">
        <div class="details">
          <h2>Instagram</h2>
          <p>
            @atius
          </p>
        </div>
      </a>

      <a class="gridItem" href="https://pixelfed.social/AmyIsCoolz">
        <img src="{{ site.baseurl }}/images/social/pixelfed.svg" alt="Pixelfed Icon">
        <div class="details">
          <h2>Pixelfed</h2>
          <p>
            @AmyIsCoolz
          </p>
        </div>
      </a>

      <a class="gridItem" href="https://bsky.app/profile/AmyIsCoolz.social.atiusamy.com.ap.brid.gy">
        <img src="{{ site.baseurl }}/images/social/bluesky.jpg" alt="Bluesky Icon">
        <div class="details">
          <h2>Bluesky</h2>
          <p>
            @amyiscoolz
          </p>
        </div>
      </a>
    </div>

  <h3>YouTube related Socials</h3>
    <div class="gridSection">
      <a class="gridItem" href="https://social.atiusamy.com/@atius">
        <img src="{{ site.baseurl }}/images/social/sharkey.png" alt="Sharkey Icon">
        <div class="details">
          <h2>Fediverse (YT)</h2>
          <p>
            @atius
          </p>
        </div>
      </a>

      <a class="gridItem" href="https://bsky.app/profile/atius.social.atiusamy.com.ap.brid.gy">
        <img src="{{ site.baseurl }}/images/social/bluesky.jpg" alt="Bluesky Icon">
        <div class="details">
          <h2>Bluesky</h2>
          <p>
            @atius
          </p>
        </div>
      </a>
    </div>

  <h3>Recommended Contacts</h3>
    <div class="gridSection">
      <div class="gridItem">
        signal
      </div>
      <div class="gridItem">
        matrix
      </div>
      <div class="gridItem">
        imessage
      </div>
    </div>
  <h3>Not-so Recommended Contacts</h3>
    <div class="gridSection">
      <div class="gridItem">
        telegram
      </div>
      <div class="gridItem">
        discord
      </div>
      <div class="gridItem">
        email
      </div>
      <div class="gridItem">
        steam
      </div>
    </div>
  <h3>My stuff</h3>
    <div class="gridSection">
      <div class="gridItem">
        youtube
      </div>
      <div class="gridItem">
        mcmods
      </div>
    </div>
</section>

<nav class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">Newer</a>
    {% endif %}
  
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Older</a>
    {% endif %}
  </nav>
  