---
layout: default
redirect_from:
  - /archive/
  - /archive
  - /archive/1/
  - /archive/1
---
<div class="medium">
  <div class="heading-grid">
      <div class="profile">
          <img src="{{ site.baseurl }}/images/icons/profile.webp" alt="Me!" style="max-width: 250px;">
      </div>
      <div class="details">
        <h2>Hi! I'm Amy / Atius</h2>
        <p>I'm a trans girl :3 (technically also a Minecraft YouTuber) I'm Thai and I live in Thailand. Not very good at most things I do, but I do it anyways. I can speak Thai and English (though very broken grammar) Nothing much else to say!</p>
        <p>You've found my website!</p>
        <p>You can contact me at: Signal (Ask my number), <a href="https://matrix.to/#/@atius:beeper.com">Matrix</a>, <a href="https://t.me/amyiscoolz">Telegram</a>, <a href="https://www.instagram.com/amyiscoolz/">Instagram</a>, Email (atiusamy@murena.io), iMessage (amy.amyiscoolz@gmail.com), Discord (@atiusamy).<p>
    </div>
  </div>
</div>   


{% unless paginator.previous_page %}
  {% comment %}
    Newest posts in a unique, Medium-like layout on the first page
  {% endcomment %}
  <h2>Blogs</h2>
  <section class="latest">
    {% assign post=paginator.posts.first %}
    {% include featured.html post=post %}

    {% assign post=paginator.posts[1] %}
    {% include featured.html post=post %}

    {% assign post=paginator.posts[2] %}
    {% include featured.html post=post %}

    {% assign post=paginator.posts[3] %}
    {% include featured.html post=post %}
  </section>
{% endunless %}

<section class="more">
{% if paginator.previous_page %}
  <h2>Archive Page {{ paginator.page }}</h2>
  {% for post in paginator.posts %}
    {% unless post.hidden %}
      {% include featured.html post=post %}
    {% endunless %}
  {% endfor %}
{% else %}
  <h2>More Stories</h2>
  {% for post in paginator.posts offset: 4 %}
    {% unless post.hidden %}
      {% include featured.html post=post %}
    {% endunless %}
  {% endfor %}
{% endif %}
</section>

<nav class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Newer</a>
  {% endif %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Older</a>
  {% endif %}
</nav>

