aside.tags {
  margin: 1em auto;
  max-width: var(--content-width);
}

.tag {
  background-color: var(--blue-100);
  border-radius: 1.0em;
  color: var(--blue-900);
  display: inline-block;
  font-family: var(--ui-font);
  font-size: 0.75em;
  line-height: 2em;
  margin: 0.125em;
  padding: 0 0.5em;
  text-decoration: none;
}
